environment {
        APP_NAME             = 'havadurumu'
        RELEASE              = 'bilgeadam'
        CHART                = 'charts/havadurumu'
        IMAGE_REPO           = 'havadurumu'
        IMAGE_TAG            = "0.1.${env.BUILD_NUMBER}"
        PYTHON_CI            = 'python:3.14.7-slim'
        HELM_CI              = 'alpine/helm:3.16.4'
        AZURE_CLI_CI         = 'mcr.microsoft.com/azure-cli:latest'

        // Azure Kaynak Konfigürasyonu
        AZURE_RESOURCE_GROUP = 'gokyuzuhava-rg'
        AZURE_ACR_NAME       = 'gokyuzuhavaacr'
        AZURE_APP_NAME       = 'gokyuzuhava-app'

        // Azure Service Principal Kimlik Bilgileri
        AZURE_CLIENT_ID      = '690f237f-27b6-4fcd-b70e-1fb183e808c7'
        AZURE_CLIENT_SECRET  = '8rr8Q~wZvvFpIWN1SVh710XC9CMhi0r8oR4OlcZI'
        AZURE_TENANT_ID      = '76be4805-f308-4411-b258-cdcad2577ec3'
        AZURE_SUBSCRIPTION_ID= 'f4d8df4d-9589-42c5-8590-351970b9dec5'
    }